# Folders
raw_data/
questionnaires/
presentation/
bial/
figures/
Formulare/
reports/
.vscode/

# Files
# *.ipynb
*.pyc
*.pyo
*.mp3
*.wav

# Packaging
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64

